%header.header
  .inner
    %h1
      %a{href: '/'} Popreu
    %nav.nav
      %ul
        %li{class: "#{'active' if request.path == '/works'}"}
          %a{href: '/works'} Why It Works?
        %li{class: "#{'active' if request.path == '/help'}"}
          %a{href: '/help'} Help
        %li{class: "#{'active' if request.path == '/contact'}"}
          %a{href: '/contact'} Contact
        %li{class: "#{'active' if request.path == '/rules'}"}
          %a{href: '/rules'} Terms of Service
