=haml :header
%main.main
  .inner
    .help-wrapper
      %ol
        %li
          %span When does the implementation start after the order?
          %p Having received payment within several hours, the company will start, often starting within a few minutes.
        %li
          %span What do you need to know when ordering services?
          %p Your e-mail delivered when ordering must match the mail with which the payment is made, if not, then in the comments you need to indicate, otherwise we do not know for which order the payment was received.
        %li
          %span Why Instagram Followers are added longer than Instagram Like?
          %p For Followers, we set a delay that the implementation bypassed the Instagram filters and there were no write-offs.
        %li
          %span What should I do if the part of Instagram Followers has unsubscribed?
          %p Preliminary, we add 20% more Followers than ordered to compensate for this phenomenon.
        %li
          %span How many times can I order Free Instagram Followers and Free Instagram Like?
          %p Only once, then your order will be ignored.
        %li
          %span Buying Instagram Like, can I split the purchase into several posts?
          %p Yes, you have the opportunity to divide by 10 posts.
        %li
          %span How do I know that this is not a hoax?
          %p Order Free Instagram Followers or Free Instagram Like service for persuasion.
        %li
          %span What are the requirements for the Instagram profile?
          %p The profile should be open to everyone and an avatar is added.
=haml :footer
