.opacity
  .all-center-block
    .center-block
      .left-center-block
        %span.header-content-center Instagram
        .block-line-block-check-box-tools
          .line-block-check-box-tools
            .block-checkbox-dec-tools
              %input#check-radio-tools{checked: 'checked', name: 'radio-tools', type: 'radio'}
              %label{for: 'check-radio-tools'}
                %span.label-like Likes
            .block-checkbox-dec-tools-two
              %input#check-radio-tools-two{name: 'radio-tools', type: 'radio'}
              %label{for: 'check-radio-tools-two'}
                %span.label-followers Followers

        #likes.block-fade-instagram
          .block-pay-card.not-clickable
            %span.block-likes 25 Likes
            %span.block-cost-pay
              %span.cost 0.00
              %span $
            %span.btn-pay.disabled
              Sold

          .block-pay-card
            %span.block-likes 200 Likes
            %span.block-cost-pay
              %span.cost 0.80
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 500 Likes
            %span.block-cost-pay
              %span.cost 1.50
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 1 000 Likes
            %span.block-cost-pay
              %span.cost 2.80
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 2 000 Likes
            %span.block-cost-pay
              %span.cost 4.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 5 000 Likes
            %span.block-cost-pay
              %span.cost 9.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 10 000 Likes
            %span.block-cost-pay
              %span.cost 17.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 20 000 Likes
            %span.block-cost-pay
              %span.cost 29.90
              %span $
            %span.btn-pay
              Buy Now

        #followers.block-fade-followers.hide
          .block-pay-card.not-clickable
            %span.block-likes 10 F
            %span.block-cost-pay
              %span.cost 0.00
              %span $
            %span.btn-pay.disabled
              Sold

          .block-pay-card
            %span.block-likes 100 F
            %span.block-cost-pay
              %span.cost 0.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 250 F
            %span.block-cost-pay
              %span.cost 1.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 500 F
            %span.block-cost-pay
              %span.cost 3.20
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 1 000 F
            %span.block-cost-pay
              %span.cost 5.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 2 000 F
            %span.block-cost-pay
              %span.cost 9.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 5 000 F
            %span.block-cost-pay
              %span.cost 23.90
              %span $
            %span.btn-pay
              Buy Now

          .block-pay-card
            %span.block-likes 10 000 F
            %span.block-cost-pay
              %span.cost 39.90
              %span $
            %span.btn-pay
              Buy Now

        .block-description
          .one-of-description
            .parent
              %div
                %img{src: '/images/auto-start.svg', alt: ''}
            %span.text-description
              Auto Start
            %p.text-description2
              The order will be processed automatically after purchasing .

          .one-of-description
            .parent
              %div
                %img{src: '/images/refund.svg', alt: ''}
            %span.text-description
              Refund
            %p.text-description2
              Return of funds in case of dissatisfaction with our services.

          .one-of-description
            .parent
              %div
                %img{src: '/images/fast-and-quality.svg', alt: ''}
            %span.text-description
              Fast and Quality
            %p.text-description2
              Gradual, but at the same time, fast implementation will not attract anyone's attention.

          .one-of-description
            .parent
              %div
                %img{src: '/images/support.svg', alt: ''}
            %span.text-description
              Support
            %p.text-description2
              Do you have any questions? Please contact us, we will gladly answer.

          .one-of-description
            .parent
              %div
                %img{src: '/images/security.svg', alt: ''}
            %span.text-description
              Security
            %p.text-description2
              We do not need access to the Instagram profile, only a link to it or a post.

          .one-of-description
            .parent
              %div
                %img{src: '/images/free-test.svg', alt: ''}
            %span.text-description
              Free Test
            %p.text-description2
              One time you can see the quality and speed of our services without payment and obligations.

        .block-info
          .binfo-inner
            %p Buy Instagram Followers or Buy Instagram Likes if you have any doubts take Free Instagram Followers.

    .footer
      .footer-inner
        .footer-logo
          %span Poprey
        .footer-menu
          %ul
            %li
              %a{href: '/works'} Why It Works?
            %li
              %a{href: '/help'} Help
            %li
              %a{href: '/contact'} Contact
            %li
              %a{href: '/rules'} Terms of Service
