!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Buy Instagram Like and Followers
    %link{href: "stylesheets/application.css", rel: "stylesheet"}
    %script{src: "javascripts/application.js", type: "text/javascript"}
  %body
    = yield