!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no' }
    %title= @title || 'Buy Instagram Like and Followers'
    %link{href: "stylesheets/application.css", rel: "stylesheet", media: 'all'}
    %script{src: "javascripts/application.js", type: "text/javascript"}
  %body
    .page= yield
