%link{href: 'stylesheets/1024.css', media: 'screen', rel: 'stylesheet'}
%link{href: 'stylesheets/640.css', media: 'screen', rel: 'stylesheet'}
%link{href: 'stylesheets/320.css', media: 'screen', rel: 'stylesheet'}
