=haml :header
%main.main
  .inner
    .rules-wrapper
      .rules-description
        %b rules
        %p Below are the rules that apply to customers who order our services. Come into life from the day of July 19, 2017.
      .rules-list
        %ol.rules-ol-list
          %li
            %b Definitions
            %ul.rules-ul-list
              %li
                %span Popreu —
                A service that offers Buy Instagram Followers and Buy Instagram Like.
              %li
                %span Buyer  —
                A natural or legal person who orders our services.
              %li
                %span Order —
                Presentation of relevant information and payment.
          %li
            %b General rules
            %ul.sub-ol-list
              %li In the event of a technical fault, the buyer is obliged to inform the administration.
              %li The Instagram profile must be opened before the Order and during its execution and an avatar is added.
              %li Free Instagram LIke and Followers is allowed only once, as a test of our services.
              %li If we change the rules, we'll let you know about it.
          %li
            %b Return
            %ul.sub-ol-list
              %li Having made an order for a private profile, a refund is made at a will.
              %li If the quality of our services does not suit you, after the argumentation, you will receive a full or partial refund in 30 days from order.
              %li You can contact us within 30 days from the date of purchase and if the initial additional followers amount is not enough we will add more followers to your account.
=haml :footer
