!!!
%html{ lang: 'eng' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no' }
    %link{ rel: 'icon', href: '/favicon.ico', type: 'image/x-icon' }
    %title= @title
    =haml :media_styles
  %body
    .opacity
      .all-center-block
        .center-block
          .left-center-block
            %span.header-content-center Instagram
            .block-after
              .block-icon-after
                %img.icon-after{ src: 'images/icon-(16).svg' }
              %span.text-after Within 12 hours after receiving payment, your order will be realized
              %a.btn-after{ href: '/' } Go to shopping
