=haml :header
%main.main
  .inner
    .works-wrapper
      %ul
        %li.works-block
          %figure
            %img{src: '/images/insta.png'}
            %figcaption Instagram is a large social network with hundreds of millions of users around the world where each of them is to some extent your competitor. Having manifested the desire to become a part of such a huge community, you will need remarkable abilities that your content will be noticed and loved.
        %li.works-block
          %figure
            %img{src: '/images/photo.png'}
            %figcaption The greater share of a successful profile is undoubtedly content; however its promotion will take you a lot of valuable time, which can be used more effectively. You can also ask for the help of professionals however the price of such a pleasure is high and the effects are blurred.
        %li.works-block
          %figure
            %img{src: '/images/time.png'}
            %figcaption We will not take your time and give you the opportunity to get the lowest price for a few days, but you will be able to do really important things like communicating with your Subscribers or creating quality content.
        %li.works-block
          %figure
            %img{src: '/images/rate.png'}
            %figcaption Estimate how simple the method is that is offered to you. We add content as fast and qualitatively as possible to your profile Followers and Like, thereby raising the content in the content, which inevitably leads to the creation of the path of the target audience, which will appreciate your work and will most likely remain with you. Our team is constantly working to maximize the ratio of efficiency to price, if you do not believe, then compare our prices and quality with analogues in the market. Welcome to the winners.
=haml :footer
