@font-face {
  font-family: 'RobotoBold';
  src: url(/fonts/RobotoBold.ttf);
}
@font-face {
  font-family: 'RobotoRegular';
  src: url(/fonts/RobotoRegular.ttf);
}
@font-face {
  font-family: 'RobotoLight';
  src: url(/fonts/RobotoLight.ttf);
}

@media (max-width: 639px) {

label, input {
	border: none;
	margin: 0px;
	padding: 0px;
	outline: none;
	background: transparent;
}

input, a, label {
	border: none;
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
}

body {
	margin: 0px;
	padding: 0px;
	float: left;
	/*min-width: 1340px;*/
	width: 100%;
	/*width: 1920px;*/
	/*background: url(img/body-in.png) left top no-repeat;*/
}

.opacity {
	float: left;
	width: 100%;
	min-height: 100%;
	/*background: #F4F4F4;*/
	/*opacity: 0.7;*/
}

.all-center-block,
.left-center-block {
	float: left;
	width: 100%;
}

.center-block {
	margin: 0px auto;
	width: 320px;
	/*min-height: 40px;*/
}

.null-block {
	float: left;
	width: 100%;
	height: 0px;
}

.header-content-center {
	float: left;
	padding: 45px 0px;
	width: 100%;
	line-height: 30px;
    font-size: 25px;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 300;
    text-align: center;
}

.block-line-block-check-box-tools {
	float: left;
	width: 100%;
	margin-bottom: 80px;
}

.line-block-check-box-tools {
	margin: 0px auto;
	width: 320px;
}

.block-checkbox-dec-tools {
	float: left;
}

.block-checkbox-dec-tools-two {
	float: left;
}

input[type="radio"]#check-radio-tools { display:none; } /*--здесь отключили стандартный checkbox--*/

input[type="radio"]#check-radio-tools + label span {
	float: left;
    display: inline-block;
    padding: 13px 0px;
    width: 158px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: transparent;
    border: 1px solid#E8E8E8;
    border-radius: 100px 0px 0px 100px;
    color: #666666;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
    cursor: pointer;
    /*-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;*/
}

input[type="radio"]#check-radio-tools:checked + label span {
    border: 1px solid#29ABE2;
    background: #29ABE2;
    color: #fff;
}

input[type="radio"]#check-radio-tools-two { display:none; } /*--здесь отключили стандартный checkbox--*/

input[type="radio"]#check-radio-tools-two + label span {
	float: left;
    display: inline-block;
    padding: 13px 0px;
    width: 158px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: transparent;
    border: 1px solid #e8e8e8;
    border-radius: 0px 100px 100px 0px;
    color: #666666;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
    cursor: pointer;
    /*-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;*/
}

input[type="radio"]#check-radio-tools-two:checked + label span {
    border: 1px solid#29ABE2;
    background: #29ABE2;
    color: #fff;
}

.block-fade-instagram,
.block-fade-followers {
	float: left;
	width: 100%;
}

.block-fade-followers {
	display: none;
}

.block-pay-card {
	float: left;
	margin: 0px 8px;
	margin-bottom: 80px;
	width: 140px;
}

.link_pay {
	display: none;
}

.block-likes {
	float: left;
	padding-top: 51px;
	width: 100%;
	min-height: 72px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: 'RobotoBold', sans-serif;
    font-weight: 400;
    color: #000;
	background: #f2f2f2;
}
.block-likes>img{
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.block-likes>img:first-child{
	padding-right: 16px;
}
.block-likes>img:nth-child(2){
	margin-left: 16px;
}
.auto-likes{
	color: #7F7F7F;
    font-size: 14px;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 400;
    margin-top: 11px;
    display: block;
}
.block-cost-pay {
	float: left;
	padding-top: 29px;
	margin-bottom: 32px;
	width: 100%;
	min-height: 56px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-family: 'RobotoBold', sans-serif;
    font-weight: 400;
    color: #fff;
	background: #aaaaaa;
}

.btn-pay.sold {
  pointer-events: none;
  background: #7bc7e3;
}

.btn-pay, .btn-pay-2 {
	cursor: pointer;
	float: left;
	width: 100%;
	min-height: 35px;
	border-radius: 4px;
	line-height: 35px;
    font-size: 13px;
    color: #fff;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
    text-align: center;
    background: #29ABE2;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-pay:hover, .btn-pay-2:hover {
	background: #29B2E8;
}

.block-description {
	float: left;
	padding-top: 70px;
	width: 100%;
	border-top: 1px solid rgb(229, 229, 229);
	border-bottom: 1px solid rgb(229, 229, 229);
	padding-bottom: 90px;
}

.one-of-description {
	position: relative;
	float: left;
	margin-bottom: 80px;
	width: 320px;
	min-height: 250px;
}

/*.one-of-description:first-child {
	width: 140px;
	margin-right: 81px; 
}

.one-of-description:last-child {
	width: 140px;
	margin-left: 74px; 
}*/

.parent {
  position: relative;
  width: 100%;
  z-index: 0;
  float: left;
  min-height: 72px; /* если дочерний элемент будет выше родителя, то родитель увеличится на необходимую высоту. При необходимости заменить на height */
  text-align: center;
}

.parent div {
  max-width: 95%; /* не обязательно */
  min-width: 10px; /* не обязательно */
  margin-left: auto;
  margin-right: auto;
  text-align: left; /* не обязательно */
  display: inline-block;
}

.parent:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

.parent div img {
	max-width: 64px;
}

.text-description {
	float: left;
	width: 100%;
	line-height: 19px;
    font-size: 16px;
    color: #191919;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
    text-align: center;
		padding-bottom: 15px;
}

.text-description2 {
	position: absolute;
	top: 115px;
	left: 0;
	line-height: 20px;
	text-align: center;
	color: #666666;
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.block-info {
	display: table;
	float: left;
	width: 100%;
	height: 400px;
}
.binfo-inner {
	display: table-cell;
	vertical-align: middle;
}
.block-info p {
	line-height: 28px;
	font-size: 16px;
	text-align: center;
	font-family: roboto, sans-serif;
	font-weight: 300;
	width: 65%;
	margin: auto;
}

.block-form {
	float: left;
	padding: 20px 10px;
	margin-bottom: 60px;
	/*margin-left: 20px;*/
	width: 300px;
	min-height: 100px;
	border-radius: 4px;
	background: #f7f7f7;
}

.block-input {
	position: relative;
	z-index: 3;
	float: left;
	width: 100%;
}

.bg-input {
	position: relative;
	float: left;
	margin-bottom: 25px;
	padding: 12px 10px;
	padding-right: 50px;
	width: 240px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0px;
	color: #7f7f7f;
	border-radius: 4px;
	border: 1px solid #efefef;
	background: #fff;
}

/*.bg-input:hover,*/
.bg-input:focus {
	/*color: #bfbfbf;*/
	border: 1px solid #ccc;
}

.icon-info {
	position: relative;
	z-index: 3;
	cursor: pointer;
	float: right;
	margin-right: 11px; 
	margin-top: 9px;
	width: 24px;
	height: 24px;
	/*background: url(img/icon-info.png) no-repeat;*/
}

.icon-info.important {
	display: none;
}

.null-block.info .fade-block-info {
	display: none;
	float: right;
	margin-top: 15px;
	padding: 10px 30px;
	border-radius: 4px;
	max-width: 484px;
	background: pink;
	opacity: 0.5;
	color: #000;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.null-block.info:hover .fade-block-info {
	display: block;
}

.bg-textaera {
	position: relative;
	z-index: 1;
	float: left;
	margin-bottom: 30px;
	padding: 12px 10px;
	padding-right: 50px;
	width: 240px;
	min-height: 180px;
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0px;
	color: #7f7f7f;
	border-radius: 4px;
	border: 1px solid #efefef;
	resize: none;
	outline: none;
	background: #fff;
}

/*.bg-textaera:hover,*/
.bg-textaera:focus {
	/*color: #bfbfbf;*/
	outline: none;
	border: 1px solid #ccc;
}

.btn-send-form {
	border: none;
	outline: none;
	cursor: pointer;
	float: left;
	width: 100%;
	border-radius: 4px;
	line-height: 40px;
    font-size: 15px;
    color: #4c4c4c;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
    background: #ccc;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-send-form:hover {
	background: #d1d1d1;
}

.footer {
	float: left;
	padding: 14px 0px;
	width: 100%;
	background: #F7F7F7;
	text-align: center;
}

.footer-inner {
	width: 90%;
	margin: auto;
}

.footer-menu ul {padding: 0;}
.footer-menu ul {margin: 1em 0;}
.footer-menu ul li:last-child {padding-bottom: 0;}
.footer-menu ul li {
	display: block;
	list-style: none;
  padding-bottom: 15px;
}
.footer-menu ul li a:hover {text-decoration: underline;}
.footer-menu ul li a {
	font-family: roboto, sans-serif;
	font-weight: 500;
	color: black;
	font-size: 14px;
	line-height: 17px;
}

.footer-logo {
	padding: 16px 0 16px 5px;
	line-height: 18px;
    font-size: 18px;
    color: #000;
    font-family: 'RobotoBold', sans-serif;
    font-weight: 400;
}

.footer-text {
	float: right;
	line-height: 16px;
    font-size: 16px;
    color: #000;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
}

/*========================================================*/

.popup,
.popup-2,
.popup-followers {
	display: none;
	position: fixed;
	float: left;
	z-index: 5;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: url(/images/bg-popup.png) repeat;
}
.notification{
	color: #333333;
    line-height: 20px;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    float: left;
    letter-spacing: -0.1px;
	margin-top: 42px;
}
.padding-top {
	float: left;
	padding-top: 25%;
	width: 100%;
}

.padding-left {
	float: left;
	padding-left: 50%;
	height: 25%;
}

.block-form-popup {
	float: left;
	padding: 15px 10px;
	padding-bottom: 35px;
	margin-top: -20px;
	margin-left: -160px;
	width: 300px;
	/*height: 320px;*/
	border-radius: 4px;
	background: #fff;
}

.icon-close {
	cursor: pointer;
	float: right;
	width: 16px;
	height: 16px;
	background: url(/images/icon-close.png) no-repeat;
	/*-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;*/
}

/*.icon-close:hover {
	-webkit-transform: rotate(180deg);
  	-moz-transform: rotate(180deg);
  	-o-transform: rotate(180deg);
  	-ms-transform: rotate(180deg);
  	transform: rotate(180deg);
}*/

.form-popup {
	float: left;
	margin: 20px 0px;
	width: 300px;
	min-height: 200px;
}

.block-input-form-popup {
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

.block-input-form-popup.two,
.block-input-form-popup.three,
.block-input-form-popup.four,
.block-input-form-popup.five,
.block-input-form-popup.six,
.block-input-form-popup.seven,
.block-input-form-popup.eight,
.block-input-form-popup.nine,
.block-input-form-popup.ten {
	display: none;
}

.bg-input-form-popup {
	float: left;
	padding: 20px 0px;
	padding-right: 40px;
	width: 260px;
	line-height: 14px;
    font-size: 14px;
    color: #7f7f7f;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
	border-bottom: 1px solid #29ABE2;
}

.block-input-form-popup.error .important {
  display: block;
}

.block-input-form-popup.error .bg-input-form-popup {
  border-bottom: 1px solid #d80027;
}

/*.bg-input-form-popup:hover,*/
.bg-input-form-popup:focus {
	color: #404040;
}

.block-input-form-popup .icon-info {
	margin-top: 17px;
}

.block-input-form-popup .null-block.info .fade-block-info {
	margin-top: 25px;
}

#popup_send,
#popup_send_2,
#popup_send_followers {
	border: none;
	outline: none;
	cursor: pointer;
	float: left;
	margin-top: 60px;
	width: 100%;
	border-radius: 4px;
	line-height: 45px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
    background: #29ABE2;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

#popup_send:hover {
	background: #29B2E8;
}

.block-fade-after-send {
	display: none;
	float: left;
	padding-top: 75px;
	padding-bottom: 125px;
	width: 100%;
	min-height: 146px;
	font-size: 24px;
	line-height: 29px;
	color: #7f7f7f;
    text-align: center;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
}

.block-img-fade-after-send {
	float: left;
	width: 100%;
}

.img-fade-after-send {
	float: left;
	margin-left: 225px;
	margin-bottom: 55px;
	width: 64px;
}

/**/

.block-after {
	float: left;
	padding-top: 45px;
	padding-bottom: 100px;
	width: 100%;
	text-align: center;
}

.block-icon-after {
	margin: 0px auto;
	width: 64px;
	margin-bottom: 145px;
}

.block-icon-after img {
	float: left;
	width: 64px;
}

.text-after {
	float: left;
	margin: 0px 10%;
	margin-bottom: 75px;
	width: 80%;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #8c8c8c;
    text-align: center;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
}

.btn-after  {
	cursor: pointer;
	padding: 12px 92px;
	text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 400;
    background: #f2f2f2;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-after:hover {
	background: #f7f7f7;
}

}